<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.username}}</h3>
                    <h5> Hagamos algo </h5>
                    <a href="/links" class="btn btn-primary m-4"> Ver listas</a>
                </div>
            </div>


            <div class="card text-center mt-5">
                <div class="card-body">
                    <form action="/src/routes/links.js" method="POST">
                    <img src="{{user.foto}}" alt="avatar" class="card-img-top mx-auto m-2 rounded-circle w-50">
                        <div class="form-group">
                            <input type="text"   value="{{user.foto}}" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <input type="text"  value="{{user.mail}}" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <input type="text"   value="{{user.username}}" class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control"  value="{{user.pass}}" readonly>
                        </div>

                        <a href="/links/perfil" class="btn btn-primary m-4"> Editar</a>

                    </form>
                </div>
            </div>

            
        </div>

    </div>
</div>